.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
}

.login-left-section{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  height: 80vh;
  border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

 .login-right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  height: 80vh;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.login-left-section {
  background-color: #007bff;
  color: white;
  text-align: center;
}

.company-details {
  max-width: 80%;
  word-wrap: break-word;
}

.login-right-section {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: white;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  max-width: 350px;
}

.login-box h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.radio-group {
  display: flex;
  gap: 20px;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.login-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    height: auto;
  }

  .left-section, .right-section {
    width: 100%;
    min-height: 50vh;
  }

  .company-details {
    max-width: 90%;
  }

  .login-box {
    width: 90%;
    max-width: 300px;
    margin: 20px 0;
  }
}
